{% if current_user %}
  <div class="flex space-x-3" id="create_reply_{{ target.id }}_form">
    <div class="w-full">
      {% form_tag 'reply' %}
        <input value="{{ target.full_slug }}" autocomplete="off" type="hidden" name="target_full_path">
        <input value="create_reply_success" autocomplete="off" type="hidden" name="return_template_name">
        <input value="true" autocomplete="off" type="hidden" name="reply[published]">
        <textarea name="reply[body]" rows="4" class="w-full p-2 border rounded-md form-textarea placeholder:italic"
        placeholder="{{ 'generic.reply' | t }}" required></textarea>

        <div id="reply_page_error" class="text-xs text-red-500"></div>
        <div class="flex items-center justify-end space-x-3">
          <input
            type="submit"
            value="{{ 'buttons.submit' | t }}"
            @click="open = false;name=content.substring(0, 50)"
            class="btn"/>
        </div>
      {% endform_tag %}
    </div>
  </div>
{% else %}
  <div class="flex w-full p-6 space-x-3 rounded-md" >
    <div class="flex items-center mx-auto">
      <div class="p-4 border-orange-200 bg-orange-100 my-4 rounded-xl">{{ 'generic.under_review' | t }}</div>

      {% form_tag 'sign_in_with_baklib' %}
        <input type="submit"
            value="{{ "buttons.login" | t: '登录' }}"
            class="mx-1 text-white bg-indigo-500 rounded-md btn-sm hover:bg-indigo-600"
            data-disable-with=" ... "
            >
      {% endform_tag %} 
    </div>
  </div>
{% endif %}
