{% if current_user %}
  <div class="flex space-x-3" id="create_reply_{{ target.id }}_form">
    <div class="w-full">
      {% form_tag 'reply' %}
        <input value="{{ target.full_slug }}" autocomplete="off" type="hidden" name="target_full_path">
        <input value="create_reply_success" autocomplete="off" type="hidden" name="return_template_name">
        <input value="true" autocomplete="off" type="hidden" name="reply[published]">
        <textarea name="reply[body]" rows="4" class="w-full p-2 border rounded-md form-textarea placeholder:italic"
        placeholder="{{ 'generic.reply' | t }}" required></textarea>

        <div id="reply_page_error" class="text-xs text-red-500"></div>
        <div class="flex items-center justify-end space-x-3">
          <input
            type="submit"
            value="{{ 'buttons.submit' | t }}"
            @click="open = false;name=content.substring(0, 50)"
            class="btn"/>
        </div>
      {% endform_tag %}
    </div>
  </div>
{% else %}
  <div class="mx-auto max-w-5xl w-full">
      <div class="[&:nth-child(-n+4)]:-order-1 bg-gradient-to-tr from-slate-50/20 via-blue-100/50 to-orange-50/20 dark:from-slate-800/20 dark:via-slate-800/50 dark:to-slate-800/20">
        <div class="relative p-5">
          {{ 'generic.under_comment' | t }}
          {% form_tag 'sign_in_with_baklib' %}
            <input type="submit"
                value="{{ "buttons.login" | t: '登录' }}"
                class="mx-1 text-white bg-indigo-500 rounded-md btn-sm hover:bg-indigo-600"
                data-disable-with=" ... "
                >
          {% endform_tag %}
        </div>
      </div>
  </div>
{% endif %}
