{% assign pages = site.pages['/'].children_in_list %}
{% assign default_avatar_url = site.settings.default_avatar %}
{% unless default_avatar_url  %} 
    {% assign default_avatar_url = 'images/avatar.svg' |  asset_url %}
{% endunless %}

<main class="grow">
  <section class="relative overflow-hidden">
    <!-- Illustration -->
    <div class="absolute -translate-x-1/2 pointer-events-none left-1/2 -z-10" aria-hidden="true">
        <img src="{{ 'images/demo/hero-illustration.svg' | asset_url }}" class="max-w-none" width="1905" height="622" alt="Hero Illustration">
    </div>

    <div class="max-w-7xl px-4 mx-auto sm:px-6">
      <div class="pt-6 md:pt-12">
        <div class="md:flex md:justify-between md:divide-x md:divide-slate-300 dark:md:divide-slate-800">
          
          <!-- Page content -->
          <div class="md:grow max-w-5xl">
            <div class="md:pr-6 lg:pr-20 my-4">

              <div class="flex flex-col space-y-6 lg:flex-row lg:space-y-0 lg:space-x-6">

                <!-- Upvotes button -->
                <div class="flex space-x-2 md:block md:space-y-2 md:space-x-0">
                  <div class="shrink-0" x-data="{ posted_feedback: {{ page.visitor_posted_feedback }}, feedback_count: {{ page | feedback_type_count: site.settings.feedback_useful_type }}  } ">
                    <div x-show="posted_feedback == true" @click="posted_feedback=false;feedback_count--" x-cloak>
                      {% form_tag 'delete_feedback', page: page, useful_type: site.settings.feedback_useful_type %}
                        <div class="shrink-0">
                          <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type  }}"
                          :class="{ '!bg-primary': '{{ site.settings.feedback_useful_type }}' === '{{ page.last_feedback_emoji }}' }"
                            class="h-12 w-12 pt-2 items-center text-center flex flex-col rounded border border-primary bg-primary hover:bg-slate-300 dark:hover:bg-slate-800">
                              <svg class="fill-white" width="12" height="6" xmlns="http://www.w3.org/2000/svg">
                                  <path d="m0 6 6-6 6 6z"></path>
                              </svg>
                              <span class="text-white" x-text="feedback_count"></span>
                          </button>
                        </div>
                      {% endform_tag %}
                    </div>
                    <div x-show="posted_feedback == false" @click="posted_feedback=true;feedback_count++"  x-cloak>
                      {% form_tag 'feedback', page: page %}
                        <div class="shrink-0">
                          <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type }}"
                            class="h-12 w-12 pt-2 items-center text-center flex flex-col rounded border border-primary-200 bg-gradient-to-tr from-slate-200/20 via-slate-200/50 to-slate-200/20 hover:bg-slate-300 dark:hover:bg-slate-800">
                              <svg class="fill-violet-500" width="12" height="6" xmlns="http://www.w3.org/2000/svg">
                                  <path d="m0 6 6-6 6 6z"></path>
                              </svg>
                              <span class="" x-text="feedback_count"></span>
                          </button>
                        </div>
                      {% endform_tag %}
                    </div>
                  </div>
                </div>

                <!-- Content -->
                <div>
                  <article class="mb-10">
                    <!-- Page header -->
                    <header class="mb-4">
                      <h1 class="mb-4 h3 md:h2 font-aspekta">{{ page.link_text  }}</h1>
                      <div class="flex items-center">
                        <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="20" height="20"
                          alt="User 01" />
                        <div class="text-sm text-slate-600">
                          <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400"
                            href="#0">{{ page.author.name }}</a> · <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span
                            class="text-slate-500">{{ page.comments | size }} {{ 'generic.comments' | t}}</span>
                        </div>
                      </div>
                    </header>

                    <!-- Page content -->
                    <div class="ProseMirror break-words">
                      {{ page.settings.content | sanitize_html }}
                    </div>
                  </article>

                  {% if page.author.id == current_user.member_id %}
                    <div class="my-4">
                      <div class="relative p-5 border rounded-md bg-slate-200 dark:bg-slate-800 border-slate-600">
                        <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
                            <a href="/s/edit?page_path={{ page.full_slug }}" class="btn">
                              <span>{{ 'buttons.edit' | t}}</span>
                            </a>
                            {% form_tag 'delete_page', page %}
                              <button class="btn btn-ghost"> {{ 'buttons.delete' | t}} </button>
                            {% endform_tag %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% unless page.published_at %}
                    <div class="p-4 border-orange-200 bg-orange-100 my-4 rounded-xl">{{ 'generic.under_review' | t }}</div>
                  {% endunless %}
                  {% render 'reply_page_form', target: page %}

                  <!-- Comments list -->
                  <div data-controller="load_more">
                    <h4 class="mb-2 font-bold "> {{ page.comments | size }} {{ 'generic.comments' | t}} </h4>
                    <!-- Comments (1st level) -->
                    {% assign answers = page.comments | roots  %}
                    <ul id="page_{{ page.id }}_replies_list" data-load_more-target="container">
                      {% paginate_tag answers, per: 4 %}
                        {% for reply in answers %}
                          {% render 'reply', reply: reply %}
                        {% endfor %}
                      {% endpaginate_tag %}
                    </ul>
                    {{ paginate.next.page  }}
                    {% if paginate.next_page %}
                      <button id="load_more" data-action="click->load_more#loadMore" data-load_more-url-value="/s/replies?page_path={{ page.full_slug }}&_page={{ paginate.next_page }}"
                        data-load_more-target="button" class="btn btn-ghost"
                      >
                        {{ 'generic.read_more' | t}}
                      </button>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Sidebar -->
          <aside class="pt-0 pb-12 md:w-64 lg:w-80 md:shrink-0 md:pb-20">
            <div class="md:pl-6 lg:pl-10">
              <!-- Sidebar content -->
              <div class="space-y-6">
                <!-- Search form -->
                {% render 'search_form' %}
                <!-- New Discussions -->
                <div>
                  <h3 class="mb-2 text-base font-semibold"> {{ 'generic.newest_reply' | t}}... </h3>
                  <hr class="mb-2"/>
                  {% assign newest_pages = pages | order_by: '-created_at' | limit: 5  %}
                  <ul class="space-y-3">
                      {% for page in newest_pages %}
                          <li>
                              <div class="flex items-center mb-1">
                                  <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="16" height="16" alt="User 06" />
                                  <div class="text-xs">
                                      <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400" href="#0">{{ page.author.name }}</a>
                                  </div>
                              </div>
                              <h3 class="mb-1 text-sm">
                                  <a class="font-semibold transition duration-150 ease-in-out hover:text-slate-600 dark:hover:text-white" href="{{ page.full_slug  }}"> {{ page.link_text }}</a>
                              </h3>
                              <div class="text-xs text-slate-600">
                                  <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span class="text-slate-500"> {{ page.comments | size }} {{ 'generic.comments' | t }} </span>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                </div>

                <!-- Popular Pages -->
                <div>
                  <div class="">
                    <h3 class="mb-2 text-base font-semibold"> {{ 'generic.popular_reply' | t}}... </h3>
                  </div>
                  <ul class="space-y-3">
                    {% assign popular_pages = pages | order_by: '-visits_count' | limit: 3  %}
                    {% for page in popular_pages %}
                        <li>
                            <div class="flex items-center mb-1">
                                <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="16" height="16" alt="User 06" />
                                <div class="text-xs">
                                    <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400" href="#0">{{ page.author.name }}</a>
                                </div>
                            </div>
                            <h3 class="mb-1 text-sm">
                                <a class="font-semibold transition duration-150 ease-in-out hover:text-slate-600 dark:hover:text-white" href="{{ page.full_slug  }}"> {{ page.link_text }}</a>
                            </h3>
                            <div class="text-xs text-slate-600">
                                <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span class="text-slate-500"> {{ page.comments | size }} {{ 'generic.comments' | t }}  </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                </div>

                <!-- Newsletter -->
                {%# render 'news_letter' %}

              </div>

            </div>
          </aside>

        </div>
      </div>
    </div>
  </section>
</main>

{% schema %}
  {
    "name": "帖子页面模板",
    "description": "发布的页面详情模板",
    "thumb_url": "images/theme/page.png",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题",
        "info": "显示在正文上方的文章标题"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "问题内容"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "页面标签"
      },
      {
        "id": "is_recommend",
        "type": "checkbox",
        "label": "是否推荐",
        "info": "选定推荐后，会在推荐栏目显示",
        "default": false
      }
    ],
    "user_creatable": true,
    "user_editable": true,
    "user_deletable": true,
    "user_permitted_attributes": ["title", "content"]
  }
{% endschema %}
